@import '~bulma/bulma.sass';



// ! index

@import url("https://fonts.googleapis.com/css?family=Roboto:400,400i,700");

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

body {
  height: 100vh;
  
  box-sizing: border-box;
  font-family: 'Roboto', 'Sans-serif';
  display: flex;
  flex-direction: column;
  
  align-items: center;
}


.filter-mps {
  display: inline-flex;
}

.filter-button {
  height: 30px;
}


.tory-fill:hover {
  background-color: #0087DC;
}
.tory-fill:before {
  position: absolute;
  background: #383736;
  bottom: 0;
  left: 0;
  right: 0;
  top: 100%;
  z-index: -1;
  -webkit-transition: top 0.09s ease-in;
}
.tory-fill:hover:before {
  top: 0;
}

.labour-fill:hover {
  background-color: #E4003B;
}
.labour-fill:before {
  position: absolute;
  background: #383736;
  bottom: 0;
  left: 0;
  right: 0;
  top: 100%;
  z-index: -1;
  -webkit-transition: top 0.09s ease-in;
}
.labour-fill:hover:before {
  top: 0;
}

.libdem-fill:hover {
  background-color: #FAA61A ;
}
.libdem-fill:before {
  position: absolute;
  background: #383736;
  bottom: 0;
  left: 0;
  right: 0;
  top: 100%;
  z-index: -1;
  -webkit-transition: top 0.09s ease-in;
}
.libdem-fill:hover:before {
  top: 0;
}

.independent-fill:hover {
  background-color: #DDDDDD;
}
.independent-fill:before {
  position: absolute;
  background: #383736;
  bottom: 0;
  left: 0;
  right: 0;
  top: 100%;
  z-index: -1;
  -webkit-transition: top 0.09s ease-in;
}
.independent-fill:hover:before {
  top: 0;
}





.rows{
  display: inline-flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.contained {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  
}

.mp-card {
  margin: 1rem;
  width: 300px;
  height: 500px;
  padding: .5rem 2rem;
  background-color: #f9f9f9;
  border-radius: 8px;
  box-shadow: 0 12px 32px 4px rgba(black, .2);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: .2s;
  
  &:hover {
    transform: translateY(-5px);
  }

  .title {
    color: white;
    margin: 1rem;
    padding: .5rem 1rem;
    border-radius: 50px;
    transition: .2s;
    cursor: pointer;
    height: 80px;
    width: 270px;
    text-align: center;
    
    &--legendary {
      background-color: #f4d03f;
      &:hover {
        box-shadow: 0 0 12px rgba(#f4d03f, .8);
      }
    }
    
        &--epic {
      background-color: #8c14fc;
      &:hover {
        box-shadow: 0 0 12px rgba(#8c14fc, .8);
      }
    }
    
        &--common {
      background-color: #2ecc71;
      &:hover {
        box-shadow: 0 0 12px rgba(#2ecc71, .8);
      }
    }
    
  }

  .desc {
    text-align: center;
  }
  
  .actions {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    
  }
}

p {
  margin-top: 1rem;
  color: #484848;
}

a:link,
a:visited {
  text-decoration: none;
  color: #2574a9;
}

.active {
  background-color: #00b16a;
}

button::-moz-focus-inner {
  border: 0;
}

.img-fix-size {
  height: 300px;
}

// ! show 




.main-container {
  background-color: #fff;
  width: 845px;
  height: 2050px;
  max-width: 100%;
  padding: 2rem;
  border-radius: 5px;
  //box-shadow: 5px 5px 5px 5px rgba(212, 208, 208, 0.2);
  
}

.profile-content {
  display: flex;
  width: 100%;
  margin: 10px 25px;
  justify-content: space-between;
  align-items: center;
}

.profile-img {
  display: flex;
  align-items: center;
}


.profile-img img {
  width: 180px;
  border: none;
  border-radius: 50%;
  height: 230px;
  margin-right: 10px;
}

.tory-border {
  border: 1px, #0087DC;
}

.break {
  width: 85%;
  margin: 20px 7.4% 0;
  opacity: 0.5;
}

.voting-section {

  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;

}

.voting-history {
  border: black 1px solid;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-content: flex-start;

  margin: 5px;
  border-radius: 15px ;
  padding-left: 15px;

}

//! comments on mp page


// ! register 
.register-columns {
  margin-left: -6.75rem;
  margin-right: -10.75rem;
}


//! user profile 
.profile-image{
  width: 150px;
  height: 150px;
  border-radius: 80px;
}
